@font-face {
	font-family: 'indiepimptbs';
	src: url('../css/fonts/indiepimptbs.eot');
	src: local('indiepimptbs'), url('../css/fonts/indiepimptbs.ttf') format('truetype');
}

@font-face {
	font-family: 'indiepimptbs';
	src: url('../css/fonts/indiepimptbs.eot');
	src: local('indiepimptbs'), url('../css/fonts/indiepimptbs.ttf') format('truetype');
}
